*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vh;
}

h1{
    margin: 40px 0 10px 0;
}

input{
    margin-bottom: 10px;
}



select{
    margin-left: 10px;
    max-width: 140px;
}

.emailSubmit{
    margin-left: 10px;
}


